@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 0% 10%;
    --primary-foreground: 40 33% 98%;
    --secondary: 35 30% 93%;
    --secondary-foreground: 0 0% 10%;
    --muted: 35 25% 94%;
    --muted-foreground: 210 10% 42%;
    --accent: 204 47% 69%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 30% 85%;
    --input: 35 30% 85%;
    --ring: 204 47% 69%;
    --radius: 0px;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
